{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            财务
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
            <li>财务</li>
            <li><a href="{% url 'receivable_list' %}">收款</a></li>
            <li>第二步：填写收款单</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 收款 第二步：填写收款单
                </div>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <div id="id_divInfo" class="note note-info">
                            <h2>订单详情</h2>
                            <p>订单ID：{{ order.id }}</p>
                            <p>发件人：{{ order.sender }}</p>
                            <p>发件地址：{{ order.from_address }}</p>
                            <p>发件人联系电话：{{ order.sender_contact }}</p>
                            <p>收货人：{{ order.receiver }}</p>
                            <p>收货地址：{{ order.to_address }}</p>
                            <p>收货人联系电话：{{ order.receiver_contact }}</p>
                            <p>生成日期：{{ order.create_date }}</p>
                            <p>体积 ：{{ order.volume }} 立方</p>
                            <p>密度 ：{{ order.density }} 吨/立方</p>
                        </div>
                        <div id="id_divInfo" class="note note-info">
                            <h2>款项</h2>
                            <p>总价：{{ order.totalPrice }}</p>
                            <p>已付金额：{{ order.paid_price }}</p>
                            <p class="am-text-danger">应付金额：{{ order.payable }}</p>

                        </div>
                        {% csrf_token %}
                        <form class="am-form am-form-horizontal" method="post">
                            {% for item in form %}
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ item.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ item }}
                                        <small>{{ item.errors }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <p id="id_error"></p>
                                    <button type="submit" class="am-btn am-btn-primary">确认收款</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}