{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
                管理客户组
            </div>
            <ol class="am-breadcrumb">
                <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
                <li>客户管理</li>
                <li><a href="{% url 'customer' %}">管理客户组</a></li>
                <li>删除客户组</li>
            </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 删除客户组
                </div>
            </div>
            <h2 class="am-text-center am-text-xl am-margin-top-lg">客户组删除完成</h2>
            <div align="center">
                <a href="{% url 'customer_class' %}"><button class="am-btn am-btn-primary">返回列表</button></a>
                <a href="{% url 'load_index' %}"><button class="am-btn am-btn-primary">返回主页</button></a>
            </div>
        </div>
    </div>
{% endblock %}