{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            管理客户
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
            <li>客户管理</li>
            <li><a href="{% url 'customer' %}">管理客户</a></li>
            <li>删除客户</li>
            <li>客户{{ customer.id }}</li>
        </ol>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 确认删除
                </div>
            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">
                    <p><span class="label label-danger">警告</span> 您即将删除该客户，请仔细核对，该操作无法恢复。</p>
                    <p><span class="label label-info">提示</span> 如需批量删除，请联系超级管理员。</p>
                </div>
                <div id="id_divInfo" class="note note-info">
                    <h2>客户详情</h2>
                    <p>客户ID：{{ customer.id }}</p>
                    <p>客户类别：{{ customer.customer_class.class_name }}</p>
                    <p>客户名：{{ customer.customer_name }}</p>
                    <p>联系人：{{ customer.contact_person }}</p>
                    <p>联系电话：{{ customer.contact_number }}</p>
                    <p>身份证号码：{{ customer.identity_number }}</p>
                    <p>备注：{{ customer.comments }}</p>
                    <p style="color: red">欠款：{{ customer.payable }}</p>
                </div>
            </div>
            <button class="am-btn am-btn-danger btn-delete">确认删除</button>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).on('click', '.btn-delete', function () {
            var url_mask = "{% url 'customer_delete' customer_id=12345 %}".replace(/12345/, {{ customer.id }});
            window.location.replace(url_mask);
        });
    </script>
{% endblock %}
