{% extends 'master.html' %}
{% block body %}
    <style>
        .popWindow {
            background-color:#FFFFFF;
            width: 100%;
            height: 500%;
            left: 0;
            top: 0;
            filter: alpha(opacity=90);
            opacity: 0.9;
            z-index: 1;
            position: absolute;
        }
        .maskLayer {
            background-color:#FFFFFF;
            width: 200px;
            height: 30px;
            line-height: 30px;
            left: 45%;
            top: 10%;
            color:#000000;
            z-index: 2;
            position: absolute;
            text-align:center;
        }
        .spinner {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 100px auto;
        }
        double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #67CF22;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: bounce 2.0s infinite ease-in-out;
            animation: bounce 2.0s infinite ease-in-out;
        }
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        @-webkit-keyframes bounce {
            0%, 100% { -webkit-transform: scale(0.0) }
            50% { -webkit-transform: scale(1.0) }
        }
        @keyframes bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    </style>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            审核订单
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
            <li>运送订单</li>
            <li><a href="{% url 'track_order_audit' %}">审核订单</a></li>
            <li>订单{{ order }}</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 审核订单
                </div>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        {% csrf_token %}
                        <form class="am-form am-form-horizontal" method="post" name="modify_form">

                            <h3>订单信息</h3>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.sender.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.sender }}
                                    <small>{{ form.sender.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.from_address.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.from_address }}
                                    <small>{{ form.from_address.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.sender_contact.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.sender_contact }}
                                    <small>{{ form.sender_contact.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.receiver.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.receiver }}
                                    <small>{{ form.receiver.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.to_address.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.to_address }}
                                    <small>{{ form.to_address.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.receiver_contact.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.receiver_contact }}
                                    <small>{{ form.receiver_contact.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.market.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.market }}
                                    <small>{{ form.market.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.mode.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.mode }}
                                    <small>{{ form.mode.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.comments.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.comments }}
                                    <small>{{ form.comments.errors }}</small>
                                </div>
                            </div>

                            <h3>报价</h3>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.collectFee.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.collectFee }}
                                    <small>{{ form.collectFee.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.packingFee.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.packingFee }}
                                    <small>{{ form.packingFee.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.claimed_value.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.claimed_value }}
                                    <small>{{ form.claimed_value.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.insurance_rate.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.insurance_rate }}
                                    <small>{{ form.insurance_rate.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.paymentOnAccountFreight.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.paymentOnAccountFreight }}
                                    <small>{{ form.paymentOnAccountFreight.errors }}</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.volume.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.volume }}
                                    <small>{{ form.volume.errors }}</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">保存</button>

                                </div>
                            </div>
                        </form>
                        请先保存，再完成审核，否则当前的修改将全部丢失。<br />
                        <button class="am-btn am-btn-danger" target="_newtab" onclick="showDiv();location.href='{% url 'track_order_audit_finalize' order %}'">完成审核，打印订单</button>

                    </div>
                </div>
            </div>
        </div>
        <div id="popWindow" class="popWindow" style="display: none;">
        </div>
    </div>

    <div id="maskLayer" class="maskLayer" style="display: none;">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        正在生成中，请稍等候......<br />
    </div>
    <script>

        function showDiv() {
            document.getElementById('popWindow').style.display = 'block';
            document.getElementById('maskLayer').style.display = 'block';
        }
    </script>

{% endblock %}