{% extends 'master.html' %}
{% block body %}
    <style>
        .popWindow {
            background-color:#FFFFFF;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            filter: alpha(opacity=90);
            opacity: 0.9;
            z-index: 1;
            position: absolute;

        }
        .maskLayer {
            background-color:#FFFFFF;
            width: 200px;
            height: 30px;
            line-height: 30px;
            left: 45%;
            top: 10%;
            color:#000000;
            z-index: 2;
            position: absolute;
            text-align:center;
        }
        .spinner {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 100px auto;
        }
        double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #67CF22;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: bounce 2.0s infinite ease-in-out;
            animation: bounce 2.0s infinite ease-in-out;
        }
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        @-webkit-keyframes bounce {
            0%, 100% { -webkit-transform: scale(0.0) }
            50% { -webkit-transform: scale(1.0) }
        }
        @keyframes bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    </style>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            出车
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
            <li>出车</li>
            <li>确认送达</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 确认送达
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <div class="am-u-sm-12">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">司机</th>
                                    <th class="table-type">车牌号</th>
                                    <th class="table-type">发车日期</th>
                                    <th class="table-type">发出地</th>
                                    <th class="table-set">到达地</th>
                                    <th class="table-set">状态</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.driver.name}}</td>
                                        <td>{{ item.vehicle_number }}</td>
                                        <td>{{ item.dispatch_date }}</td>
                                        <td>{{ item.origin }}</td>
                                        <td>{{ item.destination }}</td>
                                        <td>
                                            {% if item.status == 0 %}
                                                草稿
                                            {% elif item.status == 1 %}
                                                已出车
                                            {% elif item.status == 2 %}
                                                已送达
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only btn-check" id="{{ item.id }}"><span class="am-icon-copy"></span> 确认送达</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                            <!-- 分页-->
                            <ul class="am-pagination am-pagination-centered">
                                {% if allPage != 0 %}
                                    <!-- 如果当前是第一页，就不显示【上一页】链接 -->
                                    {% ifnotequal curPage 1 %}
                                        <li><a href="?curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=pageUp&&query=" onclick="getLink(this)">
                                            上一页
                                        </a></li>
                                    {% endifnotequal %}
                                    第{{ curPage }}/{{ allPage }}页
                                    <!-- 如果当前是最后一页，就不显示【下一页】链接 -->
                                    {% ifnotequal curPage allPage %}
                                        <li><a href="?curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=pageDown&&query=" onclick="getLink(this)">
                                            下一页
                                        </a></li>
                                    {% endifnotequal %}
                                    <li><input type="number" id="btn-redirect" class="am-form-field" placeholder="页码" style="width: 50px"/></li>
                                    <li><a onclick="pageRedirect()">Go</a></li>
                                {% endif %}
                            </ul>
                            <!-- 分页结束-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popWindow" class="popWindow" style="display: none;">
    </div>
    </div>
    <div id="maskLayer" class="maskLayer" style="display: none;">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        正在生成中，请稍候...... <br />
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>

        $(document).on('click', '.btn-check', function () {
            var url_mask = "{% url 'arrival_dispatch_order_detail' order_id=12345 %}".replace(/12345/, this.id.toString());
            window.location.replace(url_mask);
        });


        document.getElementById("id_search").value = getSavedValue();
        function saveValue(e){
            var val = e.value;
            localStorage.setItem("txtValue", val);
        }
        function getSavedValue(){
            if (localStorage.getItem("txtValue") === null) {
                return "";
            }
            return localStorage.getItem("txtValue");
        }
        function getLink(link){
            link.href = link.href + localStorage.getItem("txtValue")
        }
        function pageRedirect(){
            var max = {{ allPage }}
            var page = document.getElementById("btn-redirect").value;
            var url_mask = "{% url 'arrival_dispatch_order' %}" +
                "?curPage=0" +
                "&allPage=" + max.toString() +
                "&&pageType=pageDown&&query=" + localStorage.getItem("txtValue");
            console.log(url_mask);
            if (page == ""){
                return;
            }
            page = parseInt(page);
            if (page > max){
                page = max;
            }

            if(page <= 0){
                window.location.replace(url_mask);
                return;
            }
            else if(page == max){
                url_mask = "{% url 'arrival_dispatch_order' %}" +
                    "?curPage=" + (max - 1).toString() +
                    "&allPage=" + max.toString() +
                    "&&pageType=pageDown&&query=" + localStorage.getItem("txtValue");

            }
            else{
                url_mask = "{% url 'arrival_dispatch_order' %}" +
                    "?curPage=" + (page - 1).toString() +
                    "&allPage=" + max.toString() +
                    "&&pageType=pageDown&&query=" + + localStorage.getItem("txtValue");
            }
            window.location.replace(url_mask);
        }

    </script>
{% endblock %}
