<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物流管理系统</title>
    <meta name="description" content="物流管理系统主页">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static "i/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "i/app-icon72x72@2x.png" %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI">
    <link rel="stylesheet" href="{% static "css/amazeui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="{% static "js/echarts.min.js" %}"></script>
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="{% static "img/logo.png" %}" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{{ user.username }}</span><span class="tpl-header-list-user-ico"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a onclick="location.href='{% url 'logout' %}'" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            菜单
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="{% url 'load_index' %}" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>客户管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'add_customer_class' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加客户组</span>
                                <i class="am-margin-right"></i>
                            </a>
                            <a href="{% url 'customer_class' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>管理客户组</span>
                            </a>
                            <a href="{% url 'add_customer' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加客户</span>
                            </a>
                            <a href="{% url 'customer' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>管理客户</span>
                            </a>
                            <a href="{% url 'customer_search_advanced' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>客户高级搜索</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>运送订单</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'add_order_stage_one' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加订单</span>
                            </a>

                            <a href="{% url 'track_order_draft' %}" onclick="clearSearch()">
                                <i class="am-icon-angle-right"></i>
                                <span>草稿箱</span>

                            </a>

                            <a href="{% url 'track_order_audit' %}" onclick="clearSearch()">
                                <i class="am-icon-angle-right"></i>
                                <span>审核订单</span>
                            </a>

                            <a href="{% url 'track_order_manager' %}" onclick="clearSearch()">
                                <i class="am-icon-angle-right"></i>
                                <span>管理订单</span>
                            </a>

                            <a href="{% url 'track_order_search_advanced' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>订单高级搜索</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-truck"></i>
                        <span>出车</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'add_driver' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加司机</span>
                            </a>
                            <a href="{% url 'manage_driver' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>管理司机</span>
                            </a>
                            <a href="{% url 'add_dispatch_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加出车记录</span>
                            </a>
                            <a href="{% url 'draft_dispatch_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>草稿箱</span>
                            </a>
                            <a href="{% url 'manage_dispatch_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>管理出车记录</span>
                            </a>
                            <a href="{% url 'dispatch_order_search_advanced' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>出车记录高级搜索</span>
                            </a>
                            <a href="{% url 'arrival_dispatch_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>确认送达</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-money"></i>
                        <span>财务</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'receivable_list' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>收款</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'manage_payment_record' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>管理收款记录</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'payment_order_search_advanced' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>收款记录高级搜索</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-database"></i>
                        <span>数据导出</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'export_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>导出订单记录</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'export_customer' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>导出客户</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'export_dispatch_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>导出出车记录</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'export_payment_order' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>导出收款记录</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-area-chart"></i>
                        <span>报表</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'order_diagram' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>运送订单数量</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'dispatch_order_diagram' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>出车单数量</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'payment_order_diagram' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>收款单统计</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-dashboard"></i>
                        <span>系统设置与管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="">
                        <li>
                            <a href="{% url 'add_account' %}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加账户</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a onclick="location.href='{% url 'logout' %}'" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>登出</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function clearSearch(){
            localStorage.setItem("txtValue", "");
        }
    </script>
    {% block body %}

    {% endblock %}
</div>

</body>

{% block js %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/amazeui.min.js" %}"></script>
    <script src="{% static "js/iscroll.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}