{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
                查询订单
            </div>
        <ol class="am-breadcrumb">
                <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
                <li>运送订单</li>
                <li>管理订单</li>
                <li class="am-active"><a href="{% url 'track_order_manager' %}">修改订单</a></li>
                <li>订单{{ order }}</li>
        </ol>
        <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 修改订单
                    </div>
                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" method="post" id="id_formGood">
                                <h3>货物</h3>
                                <div id="id_tableGoods">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                    <tr>
                                        <th class="table-title">货物名称</th>
                                        <th class="table-author am-hide-sm-only">数量</th>
                                        <th class="table-type">体积</th>
                                        <th class="table-date am-hide-sm-only">重量</th>
                                        <th class="table-set">运费</th>
                                        <th class="table-set">声明价值</th>
                                        <th class="table-set">保价率</th>
                                        <th class="table-set">保价费</th>
                                        <th class="table-set">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in good_instance %}
                                    <tr>
                                        <td>{{ item.goods_name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.volume }}</td>
                                        <td>{{ item.weight }}</td>
                                        <td>{{ item.freight }}</td>
                                        <td>{{ item.claim_value }}</td>
                                        <td>{{ item.insurance_rate }}</td>
                                        <td>{{ item.insurance_fee }}</td>
                                        <td>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn_delete" id="{{ item.id }}"><span class="am-icon-trash-o"></span> 删除</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                                {% for item in good_form %}
                                    <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ item.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ item }}
                                        <small>{{ item.errors }}</small>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary" id="id_addGoods">添加货物</button>
                                    </div>
                                </div>
                            </form>
                            {% csrf_token %}
                            <form class="am-form am-form-horizontal" method="post">

                                <h3>订单信息</h3>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.sender.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.sender }}
                                        <small>{{ form.sender.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.from_address.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.from_address }}
                                        <small>{{ form.from_address.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.sender_contact.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.sender_contact }}
                                        <small>{{ form.sender_contact.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.receiver.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.receiver }}
                                        <small>{{ form.receiver.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.to_address.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.to_address }}
                                        <small>{{ form.to_address.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.receiver_contact.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.receiver_contact }}
                                        <small>{{ form.receiver_contact.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.mode.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.mode }}
                                        <small>{{ form.mode.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.comments.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.comments }}
                                        <small>{{ form.comments.errors }}</small>
                                    </div>
                                </div>

                                <h3>报价</h3>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.collectFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.collectFee }}
                                        <small>{{ form.collectFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.sendFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.sendFee }}
                                        <small>{{ form.sendFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.transitFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.transitFee }}
                                        <small>{{ form.transitFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.installFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.installFee }}
                                        <small>{{ form.installFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.storeFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.storeFee }}
                                        <small>{{ form.storeFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.packingFee.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.packingFee }}
                                        <small>{{ form.packingFee.errors }}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.paymentOnAccountFreight.label }}</label>
                                    <div class="am-u-sm-9">
                                        {{ form.paymentOnAccountFreight }}
                                        <small>{{ form.paymentOnAccountFreight.errors }}</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    function refresh(data){
        var json = jQuery.parseJSON(data);
            var content = "<table class=\"am-table am-table-striped am-table-hover table-main\" >\n" +
                "                                    <thead>\n" +
                "                                        <tr>\n" +
                "                                            <th class=\"table-title\">货物名称</th>\n" +
                "                                            <th class=\"table-author am-hide-sm-only\">数量</th>\n" +
                "                                            <th class=\"table-type\">体积</th>\n" +
                "                                            <th class=\"table-date am-hide-sm-only\">重量</th>\n" +
                "                                            <th class=\"table-set\">运费</th>\n" +
                "                                            <th class=\"table-set\">声明价值</th>\n" +
                "                                            <th class=\"table-set\">保价率</th>\n" +
                "                                            <th class=\"table-set\">保价费</th>\n" +
                "                                            <th class=\"table-set\">操作</th>\n" +
                "                                        </tr>\n" +
                "                                    </thead>";
            content += "<tbody>"

            for (var i = 0; i < json.length; i++) {
                content += "<tr>\n" +
                        "<td>" + json[i].fields.goods_name + "</td>\n" +
                        "<td>" + json[i].fields.amount + "</td>\n" +
                        "<td>" + json[i].fields.volume + "</td>\n" +
                        "<td>" + json[i].fields.weight + "</td>\n" +
                        "<td>" + json[i].fields.freight + "</td>\n" +
                        "<td>" + json[i].fields.claim_value + "</td>\n" +
                        "<td>" + json[i].fields.insurance_rate + "</td>\n" +
                        "<td>" + json[i].fields.insurance_fee + "</td>\n" +
                        "<td>"
                        + "<button class=\"am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn_delete\" id = \""+ json[i].pk + "\" ><span class=\"am-icon-trash-o\"></span> 删除</button>"
                        + "</td>";
            }

            content +="</tbody></table>";
            $('#id_tableGoods').html(content);
    }
    $(document).on('click', '.btn_delete', function () {
        var url_mask = "{% url 'delete_goods_manage' good_id=12345 %}".replace(/12345/, this.id.toString());
        $.ajax({
            cache: false,
            type: "GET",
            dataType: "json",
            url: url_mask,
            async: true,
            success: function(data) {
                refresh(data);
            }
        });
        return false;
    });

    $('#id_addGoods').click(function () {
    $.ajax({
        cache: false,
        type: "POST",
        dataType: "json",
        url: "{% url 'add_goods_manage' %}",
        data: $('#id_formGood').serialize(),
        async: true,
        success: function(data) {
            refresh(data);
        }
        });
        return false;
    });
    </script>

{% endblock %}