{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            管理订单
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
            <li>运送订单</li>
            <li><a href="{% url 'track_order_manager' %}">管理订单</a></li>
            <li class="am-active">订单详情</li>
            <li>订单{{ order.id }}</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 订单详情
                </div>
            </div>
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="am-icon-comments-o"></i>
                </div>
                <div class="details">
                    <div class="desc"> 状态&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="number">
                        {% if order.status == 0 %}
                            未提交&nbsp;&nbsp;
                        {% endif %}
                        {% if order.status == 1 %}
                            待审核&nbsp;&nbsp;
                        {% endif %}
                        {% if order.status == 2 %}
                            审核通过&nbsp;&nbsp;
                        {% endif %}
                        {% if order.status == 3 %}
                            送达&nbsp;&nbsp;
                        {% endif %}
                    </div>
                </div>
                <i class="m-icon-swapright m-icon-white"></i>
            </div>
            <div class="tpl-block ">
                <div id="id_divInfo" class="note note-info">
                    <h2>订单详情</h2>
                    <p>订单ID：{{ order.id }}</p>
                    <p>发件人：{{ order.sender }}</p>
                    <p>发件地址：{{ order.from_address }}</p>
                    <p>发件人联系电话：{{ order.sender_contact }}</p>
                    <p>收货人：{{ order.receiver }}</p>
                    <p>收货地址：{{ order.to_address }}</p>
                    <p>收货人联系电话：{{ order.receiver_contact }}</p>
                    <p>生成日期：{{ order.create_date }}</p>
                    <p>体积 ：{{ order.volume }} 立方</p>
                    <p>密度 ：{{ order.density }} 吨/立方</p>
                    <p>声明价值：{{ order.claimed_value }} 元</p>
                </div>
                <div id="id_tableGoods" class="note note-info">
                    <h2>货物详情</h2>
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title">包裹序号</th>
                            <th class="table-author am-hide-sm-only">货物名称</th>
                            <th class="table-type">数量</th>
                            <th class="table-date am-hide-sm-only">重量</th>
                            <th class="table-set">运费单价</th>
                            <th class="table-set">总运费</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in good %}
                            <tr>
                                <td>{{ item.pack_number }}</td>
                                <td>{{ item.goods_name }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.weight }}</td>
                                <td>{{ item.unit_price }}</td>
                                <td>{{ item.freight }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="id_divFee" class="note note-info">
                    <h2>报价</h2>
                    <p>运费：{{ order.freight }}</p>
                    <p>保价费：{{ order.insurance_fee}}</p>
                    <p>包装费：{{ order.packingFee }}</p>
                    <p>垫付运费：-{{ order.paymentOnAccountFreight }}</p>
                    <p>------------------</p>
                    <p>总价：{{ order.totalPrice }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
