{% extends 'master.html' %}
{% block body %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
                管理订单
        </div>
        <ol class="am-breadcrumb">
                <li><a href="{% url 'load_index' %}" class="am-icon-home">首页</a></li>
                <li>运送订单</li>
                <li><a href="{% url 'track_order_manager' %}">管理订单</a></li>
            </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 管理订单
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                <form action="/order/track/search/">
                    <div class="portlet-input input-small input-inline input-icon">
                        <i class="am-icon-search"></i>
                        <input type="text" id="id_search"name="query" class="form-control form-control-solid" placeholder="搜索..." onkeyup="saveValue(this)">
                    </div>
                </form>
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">发件人</th>
                                    <th class="table-type">收件人</th>
                                    <th class="table-author am-hide-sm-only">收件地址</th>
                                    <th class="table-date am-hide-sm-only">创建日期</th>
                                    <th class="table-date am-hide-sm-only">经办</th>
                                    <th class="table-date am-hide-sm-only">状态</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.sender }}</td>
                                    <td>{{ item.receiver }}</td>
                                    <td>{{ item.to_address }}</td>
                                    <td>{{ item.create_date }}</td>
                                    <td>{{ item.handle.username }}</td>
                                    <td>
                                        {% if item.status == 0 %}
                                            未提交
                                        {% endif %}
                                        {% if item.status == 1 %}
                                            待审核
                                        {% endif %}
                                        {% if item.status == 2 %}
                                            审核通过
                                        {% endif %}
                                        {% if item.status == 3 %}
                                            送达
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary btn-modify" id="{{ item.id }}"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only btn-check" id="{{ item.id }}"><span class="am-icon-copy"></span> 查看</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-delete" id="{{ item.id }}"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!--分页-->
                            <nav >
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li>
                                        {% if order.has_previous %}
                                            <a href="?page={{ order.previous_page_number }}&query=" onclick="getLink(this)" class="active">&laquo;</a>
                                        {% endif %}
                                        {% if not order.has_previous %}
                                            <a href="" >&laquo;</a>
                                        {% endif %}
                                        </li>
                                        <li>
                                            {% for i in order.paginator.page_range %}
                                                <li {% if order.number == i %}class="am-active"{% endif %}>
                                                    <a href="?page={{ i }}&query=" onclick="getLink(this)">{{ i }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </li>
                                        <li>
                                            {% if order.has_next %}
                                                <a href="?page={{ order.next_page_number }}&query=" onclick="getLink(this)">&raquo;</a>
                                            {% endif %}
                                            {% if not order.has_next %}
                                                <a href="" >&raquo;</a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            第{{ order.number }}页，共{{ order.paginator.num_pages }}页
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!--ending 分页-->
                            <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).on('click', '.btn-check', function () {
            var url_mask = "{% url 'track_order_detail' order_id=12345 %}".replace(/12345/, this.id.toString());
            window.location.replace(url_mask);
        });
        $(document).on('click', '.btn-modify', function () {
            var url_mask = "{% url 'track_order_modify' order_id=12345 %}".replace(/12345/, this.id.toString());
            window.location.replace(url_mask);
        });
        $(document).on('click', '.btn-delete', function () {
            var url_mask = "{% url 'track_order_confirm_delete' order_id=12345 %}".replace(/12345/, this.id.toString());
            window.location.replace(url_mask);
        });

        document.getElementById("id_search").value = getSavedValue();
        function saveValue(e){
            var val = e.value;
            localStorage.setItem("txtValue", val);
        }
        function getSavedValue(){
            if (localStorage.getItem("txtValue") === null) {
                return "";
            }
            return localStorage.getItem("txtValue");
        }
        function getLink(link){
            link.href = link.href + localStorage.getItem("txtValue")
        }
    </script>
{% endblock %}